<!DOCTYPE html>

<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Web Luciana</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="muro.html">Muro</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container" data-ng-app="testApp" data-ng-controller="testCtrl">
        
        <div class="row mt-4">
            <div class="col-lg-6">
                <h1>Nuevo usuario</h1>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nombre" data-ng-model="nuevoUsuario.nombre">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="E-mail" data-ng-model="nuevoUsuario.mail">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Contrase&ntilde;a" data-ng-model="nuevoUsuario.contrasenia">
                </div>
                <button type="button" class="btn btn-primary" data-ng-click="guardarUsuarioNuevo()">Guardar</button>
                <button type="button" class="btn btn-default" data-ng-click="cancelarUsuarioNuevo()">Cancelar</button>
            </div>
        </div>
        
        <div class="row mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th><strong>ID</strong></th>
                        <th><strong>nombre</strong></th>
                        <th><strong>mail</strong></th>
                        <th><strong>contrasenia</strong></th>
                        <th><strong>rol</strong></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="usuario in usuarios">
                        <td>{{ usuario.id }}</td>
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.mail }}</td>
                        <td>{{ usuario.contrasenia }}</td>
                        <td>{{ usuario.id_rol }}</td>
                        <td>
                            <button type="button" data-ng-click="editar(usuario)">Editar</button>
                            <button type="button" data-ng-click="eliminar(usuario)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <script src="js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
</body>

</html>